@model MarkIT.Models.Bookmark

<h1>@ViewBag.User</h1>
<hr />

<div class="panel panel-default">
    
   
    <div class="panel-body">
        <div class="row">
            @if (ViewBag.categories.Count > 0)
            {<h3>Saved Bookmarks by category:</h3>
                <br /><br />
                foreach (var Category in ViewBag.categories)
                {

                    <a class="btn btn-primary btn-lg btn-block" href="/user/saved/@Category.UserId/@Category.Id">@Category.Title</a>
                    <br />

                }
            }
            else
            {
                <h3>No saved bookmarks!</h3>
            }
        </div>
    </div>
</div>

