@{
    ViewBag.Title = "Bookmarks";
}
<h2>@ViewBag.Title</h2>
<hr />

@if (TempData.ContainsKey("message"))
{
    <h3 class="alert alert-info" role="alert">@ViewBag.message</h3>
}

<div class="panel panel-default">
    <div class="panel-body">
        @foreach (MarkIT.Models.Bookmark bookmark in ViewBag.Bookmarks)
        { 
            @Html.Partial("BookmarkInfo", bookmark)
            <br />
        }
    </div>
</div>

<br />
<a class="btn btn-info" href="/Bookmark/New">Create Bookmark</a>
<br />
