@if (ViewBag.Bookmarks.Length == 0) {
<h1>You have no bookmarks!</h1>
}
else {
<div class="panel panel-default">
    <div class="panel-body">

        @foreach (MarkIT.Models.Bookmark bookmark in ViewBag.Bookmarks)
        {

            @Html.Partial("BookmarkInfo", bookmark)

            <br />
        }
    </div>
</div>
}
