@model MarkIT.Models.Bookmark
<br />
<br />
    <div class="panel panel-default">
        @Html.Partial("BookmarkInfo", @Model)
        <div class="panel-footer">
            <a class="btn btn-info" href="/Bookmark/Index">All Bookmarks</a>
        </div>
    </div>


<br />