@model MarkIT.Models.Bookmark
<br />
<br />
<div class="panel panel-default">
    <div class="panel-body">
        @Html.Partial("BookmarkInfo", @Model)
    </div>
        <a class="btn btn-info" href="/Bookmark/Delete/@Model.Id">Delete Bookmark</a>
    
</div>
    
<br />